.footer {
  display: flex;
  justify-content: space-between; /* Espaço entre os elementos */
  align-items: center;
  padding: 10px 20px; /* Espaçamento interno */
  background-color: var(--footer-bg, #333); /* Cor de fundo do rodapé */

  font-size: 12px; /* Tamanho do texto */
  position: relative; /* Alinhamento correto para o rodapé */
  margin-left: 250px; /* Ajusta para que o rodapé não sobreponha a sidebar */
  height: 42px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1000;
  border-top: 2px solid var(--color-border); /* Borda inferior */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombras para o efeito de profundidade */
  border-top: 1px solid #b1bdc8be;
}

.footer p {
  color: var(--color-text-secondary); /* Cor do texto */
}

.footer {
  margin-left: 250px; /* Ajuste para o rodapé ocupar espaço completo */
  transition: margin-left 0.3s ease; /* Transição suave para ajuste de margem */
}

.footer.collapsed {
  margin-left: 60px; /* Ajuste para o rodapé quando a sidebar estiver colapsada */
}

.footer p {
  margin: 0; /* Remove margens padrão dos parágrafos */
}
