.container-time-line {
  background-color: #b8b8b83d;
  width: 100%;
}

.title {
  font-size: 30px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

h3 {
  padding-top: 0.25em;
}

.container-content {
  height: 300px;
  overflow: auto;
  width: 900;
}

.photo img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.container-content-historic {
  display: flex;
  align-items: center;
}

.vertical-timeline {
  width: 95%!important;
  max-width: 1770px!important;
  margin: 0 auto;
  position: relative;
  padding: 2em 0!important;
}

.vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #1f8df3af!important;
}

.vertical-timeline-element-title {
  font-weight: 700;
  font-size: 18px;
}

.vertical-timeline-element-subtitle {
  font-weight: 400;
  font-size: 18px;
  color: rgb(5, 5, 156);
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgb(0, 11, 12);
}

#description {
  margin: 1.5em 0 2em 0;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(219, 218, 218);
    margin-top: 1.5em;
  }
}

.custom-date {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  background-color: #d60d06;
  color: rgb(255, 255, 255);
  font-size: 18px;
}