/* .container-table-abas {
    margin: 10px;
} */

.nav-tabs .nav-link.active {
  background-color: #007bffb9;
  color: #fff;
}

.nav-tabs .nav-link {
  color: #000;
}

.nav-tabs .nav-link:hover {
  border-color: rgb(112, 112, 112);
}

.container-title-tab {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.close-icon span {
  margin-left: 8px;
  font-size: 15px;
  font-weight: 700;
}

.close-icon span:hover {
  color: rgb(184, 58, 54);
}

.nav-link {
  width: 160px;
}

.nav-item {
  border: 1px solid rgba(117, 115, 115, 0.26);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.table-tickets-container {
  position: relative;
}

.tickets-container {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ffffff;
}

td {
  border-bottom: 1px solid #ddd;
}

.paginationcomponent-container {
  display: flex;
  justify-content: flex-end;
}

.table-tickets th {
  padding: 0.75rem 1rem;
  border-bottom: 2px solid #e2e8f0;
  background-color: #f7fafc;
  color: #718096;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.td-priority {
  align-items: center;
  justify-content: center;
}

.paginationcomponent-tickets-component {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px 50px 20px 0px;
  z-index: 1;
}

.modal-fullscreen {
  min-width: 100%;
  margin: 0;
}

.modal-fullscreen .modal-content {
  min-height: 100vh;
  border: 0;
}
