/* Container principal */
.container-main-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Container para o resumo dos chamados */
.container-main-summary {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Cartões de resumo */
.card-summary {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.container-title-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.title-summary-tickets {
  font-size: 14px;
  color: var(--color-text-primary);
}

.result-summary-tickets {
  font-size: 24px;
  color: var(--color-primary);
}

.title-panel-tickets {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.title-panel-tickets {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}
