/* Container do formulário */
.container-user-form-create {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Estilos para a foto de perfil */
.profile-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  /* Espaçamento entre a foto e o formulário */
  flex: 1;
  /* Ocupa uma parte proporcional do espaço */
}

.profile-image-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile-image-placeholder {
  font-size: 16px;
  color: #888;
  text-align: center;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Oculta o botão padrão do input de arquivo */
.profile-image-input {
  display: none;
}

/* Botão estilizado para upload */
.custom-upload-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #11344d;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.custom-upload-button:hover {
  background-color: #335577;
}

/* Estilos Formulário */
.form-fields {
  flex: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-bottom: 15px;
}

.form-item label {
  margin-bottom: 8px;
}

/* Linha de itens lado a lado */
.form-row {
  display: flex;
  gap: 20px;
  /* Espaçamento entre os campos */
  margin-bottom: 15px;
}

.form-row .form-item {
  flex: 1;
  /* Campos ocupam o mesmo espaço */
}



/*Estilização do container de passsword changed */

.container-password-changed {
  display: flex;
  gap: 10px;
  height: 40px;
}

.container-password-changed input {
  height: 40px;
  width: 450px;
}