.search-ticker-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px;
  justify-content: space-between;
}

.search-icon-ticker {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.filter-container-ticker {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.status-select-ticker-container {
  flex: 1;
}

.date-select-ticker-container {
  flex: 1;
}

.sla-select-ticker-container {
  flex: 2;
}

.sla-container-ticker {
  width: 10%;
}

.date-input-ticker {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.date-input-ticker:focus {
  border-color: #007bff;
  outline: none;
}

.search-input-ticker-container {
  width: 400px;
  position: relative;
}

.area-select-ticker-container,
.tipo-select-ticker-container {
  flex: 3;
}

.categoria-select-ticker-container,
.status-select-ticker-container {
  flex: 3;
}

.container-checkbox-search-ticket {
  display: flex;
  gap: 10px;
  margin: 20px;
}
