/* Estilos para a aba de tickets */
.content-table {
  margin-top: 20px;
}

.content-table nav.nav-tabs {
  padding-top: 10px;
}

.table-tickets-container {
  padding-top: 15px;
}

.table-tickets-container h3 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

/* Estilo para a navegação das abas */
.nav-tabs .nav-link {
  padding: 8px 10px 8px 8px;
  font-size: 14px;
  cursor: pointer;
  width: 140px;
  border-left: 1px solid rgb(228, 222, 222);
  border-top: 1px solid rgb(228, 222, 222);
  border-right: 1px solid rgb(228, 222, 222);
  margin-bottom: 0px;
}

/* Estilo para a navegação das abas */
.nav-tabs span {
  color: var(--color-text-secondary);
}

/* Estilo para a aba ativa */
.nav-tabs .nav-link.active {
  border-top: 3px solid var(--color-border-secondary);
  font-weight: bold;
  font-size: 14px;
  color: var(--color-text-secondary);
}

/* Estilo para o título da aba */
.container-title-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  align-items: center;
  gap: 10px;
}

.container-title-tab .close-title-icon {
  color: var(--color-text-secondary);
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px; /* Ajuste o tamanho para garantir que seja quadrado */
  height: 20px; /* Mantém o elemento quadrado */
  border-radius: 5px;
  transition: color 0.3s, border 0.3s; /* Suaviza a transição de cor e borda */
}

.container-title-tab .close-title-icon:hover {
  color: var(--color-text-secondary);
  border: 2px solid var(--color-text-secondary);
  border-radius: 5px;
  background-color: aliceblue;
}

/* Estilos adicionais para o novo ticket */
#novo-chamado h3 {
  font-size: 14px;
  color: var(--color-text-secondary);
  margin-bottom: 15px;
}

#novo-chamado p {
  font-size: 14px;
  color: var(--color-text-secondary);
}
