.table-tickets-container {
  position: relative;
}

.tickets-container {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ffffff;
}

td {
  border-bottom: 1px solid #ddd;
}

/* Status colors */
span.status-andamento {
  background-color: orange;
}

span.status-aberto {
  background-color: green;
}

span.status-cancelado {
  background-color: red;
}

/* Priority colors */
span.priority-alta {
  background-color: red;
}

span.priority-media {
  background-color: orange;
}

span.priority-baixa {
  background-color: green;
}

.paginationcomponent-container {
  display: flex;
  justify-content: flex-end;
}

.table-tickets th {
  padding: 0.75rem 1rem;
  border-bottom: 2px solid #e2e8f0;
  background-color: #f7fafc;
  color: #718096;
  font-size: 0.90rem;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.td-priority {
  align-items: center;
  justify-content: center;
}

.paginationcomponent-tickets-component {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px 50px 20px 0px;
  z-index: 1;
}

.modal-fullscreen {
  min-width: 100%;
  margin: 0;
}

.modal-fullscreen .modal-content {
  min-height: 100vh;
  border: 0;
}