.button-container {
  border: 1px solid rgba(128, 128, 128, 0);
  color: rgb(255, 255, 255);
  display: flex !important;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border-left: 1px solid var(--border-color-2);
  border-radius: 12px;
  border-right: 1px solid var(--border-color-2);
  align-items: center;
  font-size: 14px;
  justify-content: center;
}

.button-container.small {
  font-size: 12px;
  padding: 8px 12px;
}

.button-container.medium {
  font-size: 14px;
  padding: 10px 15px;
}

.button-container.large {
  font-size: 16px;
  padding: 12px 18px;
}

.button-container .spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 0.8s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-spiner-button-login {
  display: flex;
  align-items: center;
  gap: 10px;
}