.app {
    display: flex;
    height: 100%;
  }
  
.app.collapsed .main {
    margin-left: 0px;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .main.collapsed {
    margin-left: 0px;
  }


  .home-section{
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  }
  
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
    margin: 0;
  }
  .home-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .home-section .home-content .bx-menu,
  .home-section .home-content .text{
    color: #11101d;
    font-size: 35px;
  }
  .home-section .home-content .bx-menu{
    cursor: pointer;
    margin-right: 10px;
  }
  .home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
  }

  .app-container-content {
    width: 100%;
    height: calc(100vh - 60px);
    margin: 0;
    padding: 20px 10px 10px 40px;
    background-color: rgb(236, 233, 233);
    overflow-y: auto;
}
 

  