/* CalendarStyles.css */

/* Estilize o container do calendário */
.react-calendar {
  width: 500px;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  background-color: #cfcaca07;
  color: #050000;
}

/* Estilize os dias da semana no cabeçalho do calendário */
.react-calendar__month-view__weekdays {
  background-color: #fdfbfb;
  border-bottom: none;
}

/* Estilize os dias do mês no calendário */
.react-calendar__month-view__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: #070000;
}

/* Estilize um dia específico no calendário */
.react-calendar__tile--now {
  background-color: #007bff;
  color: #080000;
}

/* Estilize a seta de navegação para mudar de mês */
.react-calendar__navigation__next2-button {
  background-color: #0f0000;
  border: none;
  color: #080000;
  font-size: 1.2em;
  cursor: pointer;
}


