@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  /* Cores de Background */
  --color-bg-primary: #f5f5f5;
  /* Cor de fundo principal (Geral) */
  --color-bg-secondary: #ffffff;
  /* Fundo de seções ou cartões */
  --color-bg-accent: #e3f2fd;
  /* Fundo de destaque, notificações, ou seções especiais */

  /* Cores de Tipografia */
  --color-text-primary: #212121;
  /* Cor principal para texto */
  --color-text-secondary: #757575ec;
  /* Cor para subtítulos e textos secundários */
  --color-text-accent: #0d47a1;
  /* Cor para links ou textos de destaque */
  --color-text-on-primary: #ffffff;
  /* Cor para textos em elementos com fundo escuro */

  /* Títulos e Subtítulos */
  --color-title-primary: #0d47a1;
  /* Cor para títulos principais */
  --color-subtitle-primary: #1976d2;
  /* Cor para subtítulos */

  /* Cores para Borda */
  --color-border: #b1bdc8be;
  /* Cor padrão de bordas */
  --color-border-hover: #b1bdc87c;
  /* Cor para bordas em foco/hover */
  --color-border-secondary: #11344da4;

  /* Cores para Elementos Interativos */
  --color-primary: #2196f3;
  /* Cor para botões primários */
  --color-primary-hover: #11344d;
  /* Cor para botões primários ao passar o mouse */
  --color-secondary: #ff9800;
  /* Cor para botões secundários */
  --color-secondary-hover: #f57c00;
  /* Cor para botões secundários ao passar o mouse */

  /* Feedback */
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ffeb3b;

  /* Estrutura */
  --header-bg: #ffffff;
  /* Cor de fundo do conteúdo */
  --sidebar-bg: #11344d;
  /* Cor de fundo do sidebar */
  --content-bg: #dfecf836;
  /* Cor de fundo do conteúdo */
  --footer-bg: #ffffff;
  /* Cor de fundo do footer */
  --text-color: #333;
  /* Cor do texto padrão */

  /*  Button card  */
  --color-button-primary: #11344d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: var(--color-text-accent);
}

html,
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  margin: 0;
  /* Remove margens do body */
  height: 100vh;
  /* Altura total da viewport */
  overflow: hidden;
  /* Remove a rolagem */
}

/* Exemplo de Uso de Estilos */
h1,
h2,
h3 {
  color: var(--color-title-primary);
}

h4,
h5,
h6 {
  color: var(--color-subtitle-primary);
}

p {
  color: var(--color-text-primary);
}

.container-base {
  background-color: #ffffff;
  /* Cor de fundo do card */
  border: 1px solid var(--color-border);
  /* Borda leve */
  border-radius: 3px;
  /* Cantos arredondados */
  transition: box-shadow 0.3s ease;
  /* Transição suave ao passar o mouse */
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilização input e select */
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px !important;
}

select:focus {
  border-color: #007bff;
  outline: none;
}

select option {
  color: rgb(133, 130, 130);
  font-size: 14px;
}

.floating-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease, padding 0.2s ease;
}

.floating-input:focus {
  border-color: #007bff;
  outline: none;
}

.floating-label {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 14px;
  color: #999;
  transition: all 0.2s ease;
}

.floating-input:focus+.floating-label,
.floating-input:not(:placeholder-shown)+.floating-label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #007bff;
  background-color: white;
}

/* Estilização input e select */

/* Estilização de form login */
.support-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* Reduzindo o padding para ajustar o conteúdo */
  width: 100%;
}

.support-form h2 {
  font-size: 18px;
  color: var(--color-text-primary);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.support-form-controls-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin: 40px 0;
}

.support-form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 20px;
  color: var(--color-text-primary);
  border-radius: 4px;
  border: 1px solid var(--color-border);
  background-color: white;
}

.support-form-control:focus {
  outline: none;
}

.support-form-control::placeholder {
  color: var(--color-text-secondary);
}

.support-form-control[data-dirty="true"][data-invalid="true"] {
  border: 1px solid var(--color-error);
}

.support-form-control[data-dirty="true"][data-invalid="true"]~div {
  display: unset;
}

.support-form-error {
  color: var(--color-error);
  font-size: 12px;
  padding-left: 4px;
  display: none;
}

.support-form-global-error {
  border: 1px solid var(--color-error);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  font-size: 12px;
  color: var(--color-error);
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Estilização de form login */

/* Estilização Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  font-size: 14px;
  color: var(--color-text-secondary);
  font-weight: 600;
}

table th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: var(--color-text-secondary);
}

table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: var(--color-text-secondary);
  font-size: 14px;
}

table tr:hover {
  background-color: #c4c7ca4b;
  cursor: pointer;
}

td {
  text-align: center;
}

th {
  background-color: #f2f2f28f;
  text-align: center;
}

.container-button-details {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  color: gray;
  flex-direction: row;
}

.container-button-details:hover {
  color: blue;
}

/* Estilização Table */

/* Estilização Pagination */

.container-pagination {
  position: sticky;
  /* Alinha o componente na parte inferior conforme rolagem */
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  /* Opcional: cor de fundo para manter contraste */
}

/* Estilização Pagination */

/* Estilização do Spiner de Carregamento */

/* Container do spinner */
.spinner-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Centraliza verticalmente */
  padding: 50px;
}

/* Customização do spinner (spinner-border) */
.spinner-border {
  width: 50px !important;
  /* Tamanho */
  height: 50px !important;
  /* Tamanho */
  border-width: 5px !important;
  /* Espessura da borda */
  border-top-color: rgb(17, 52, 77) !important;
  /* Cor da borda superior */
  border-right-color: #2ecc71;
  /* Cor da borda direita */
  border-bottom-color: rgb(17, 52, 77) !important;
  /* Cor da borda inferior */
  border-left-color: rgb(17, 52, 77) !important;
  /* Cor da borda esquerda */
  animation: spin 1s linear infinite;
  /* Animação de rotação */
}

/* Customização do spinner (spinner-grow) */
.spinner-grow {
  width: 200px;
  /* Tamanho */
  height: 200px;
  /* Tamanho */
  border-radius: 50%;
  /* Tornar o spinner redondo */
  background-color: #3498db;
  /* Cor de fundo */
  animation: grow 1.5s ease-in-out infinite;
  /* Animação de crescimento */
}

/* Definição das animações de rotação e crescimento */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
  }
}

/* Estilização do Spiner de Carregamento */

/* Estilização do Titlle Settings */
.container-title-settings {
  font-size: 20px;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  width: 100%;
}

/* Estilização do Titlle Settings */

.error-message {
  color: var(--color-error);
}