.custom-navbar {
  background: var(--sidebar-color);
  border-bottom: 2px solid #ddd; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.container-fluid img {
  width: 40px;
  margin-right: 10px;
}

.container-perfil-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-perfil-menu h3{
  margin-right: 10px;
}