.accordion-button:not(.collapsed) {
  background-color:#fff; /* Cor de fundo quando ativo */
}

.kedb-search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  justify-content: space-between;
}

.group-search-text {
  display: flex;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

.group-search-date {
  display: flex;
  justify-content: space-between;
}

.group-search-date-register {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.group-search-date-register span {
  font-size: 14px;
  color: #726b6b;
}

.group-search-date-solution {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.group-search-date-solution span {
  font-size: 14px;
  color: #726b6b;
}

.group-search-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
}

.kedb-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.kedb-filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

.kedb-select-container {
  flex: 1;
}

.kedb-input-container {
  width: 300px;
  position: relative;
}

.kedb-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.kedb-input:focus {
  border-color: #007bff;
  outline: none;
}

.kedb-label {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #555;
  background: #fff;
  padding: 0 5px;
}

.word-input-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  max-width: 100%;
}

.word-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.word-chip {
  display: flex;
  align-items: center;
  background-color: #e0f7fa;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  color: #00796b;
}

.remove-word-button {
  background: none;
  border: none;
  margin-left: 8px;
  color: #f44336;
  font-size: 18px;
  cursor: pointer;
}

.word-input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  width: 300px;
}


